.project,.job{
    margin-bottom: 1.5rem;
    header{
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    .row{
        overflow: hidden;
        margin-bottom: 1rem;
        .col-1{
            width:8%;
            float: left;
        }
        .col-11{
            float: left;
            width: 92%;
        }
    }
}